

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    scroll-margin-top: 60px;   
}

html{
    scroll-behavior: smooth;
}

body {   
background-color: rgb(77, 77, 77);
text-align: center;
position: relative;
}

p {
    font-size: 20px;
}

 a {
    font-size: 20px;
    text-decoration: none; 
    color: rgb(235, 230, 205);
 }
 
a:hover {
    text-decoration: underline; 
}

@media (max-width: 630px) {
    a, p {
      font-size: 15px;
    }
  }

li {
    list-style-type: none;
}

span {
    display: block;
    border: dashed;
    border-color: rgb(77, 77, 77);
}

.navbar{
    background-color: rgb(59, 59, 59);
    width: 100%;
    position: fixed;
    top: 0;
}

.menu {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    
   
}
.menu li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}
.menu li:hover {
    background-color: rgb(51, 51, 51);
}


.aboutMe {
background-color: rgb(235, 230, 205);
margin-top: 60px;
display: flex;
justify-items: center;
justify-content: space-around;
gap: 20px;
padding: 40px;
 }

.leftBlAbout{
display: flex;
flex-direction: column;
align-self: center;
}

.avatar{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
 }

 .aboutMe h1{
    font-size: 50px;
 }
 .aboutMe p{
    text-align: start;
    text-indent: 25px;
 }

 .rightBlAbout{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
 }

 @media (max-width: 1000px) {
    .aboutMe{
    flex-wrap: wrap;    
    }
    .rightBlAbout {
      width: 90%;
    }
  }


.socialLinksAbout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.firstIcon{
    justify-self: start;
}
.thirdIcon{
    justify-self: end;
}
.skills {
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.typeofskills{
    display: flex;
    max-width: 810px;
    flex-direction: column;
}
.textSkills{
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.textSkills h2{
    color: rgb(235, 230, 205); 
    
    padding-right: 20px;
    
}
.textSkills p{
    color: rgb(235, 230, 205); 
    text-align: left;
    
}
.memeImg{
    width: 100%;
    max-height: 400px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.projects {
background-color: rgb(235, 230, 205);
 }

.project{
    max-width: 1000px;
    display: flex;
    padding: 60px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 20px;
}

.about h2{
    font-size: 25px;
    padding-bottom: 10px;  
    padding-top: 20px;
}

.about p{
    text-align: left;
    padding: 5px;
}

.about a { 
    padding: 10px;
    color: black;
}

.Screens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.Screens img{
    width: 100%;
    max-width: 300px;
}

.imgScreen:hover{
    box-shadow: 10px 20px 30px rgba(0,0,0,0.5);
    transform: scale(1.7);
    transition: 1s;
}

.gamevideo{
    display: none;
    width: 80%;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.5);
}

.startVideo{
 display: block;
 border: solid;
 border-color: rgb(145, 5, 28);
 left: 100px;
 position: absolute;
}

 .contacts {
background-color:  rgb(59, 59, 59);
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 40px;
 }

 .contacts h2{
    color: rgb(235, 230, 205);
    padding: 20px;
    text-decoration: underline;
 }

 .contacts li{
    color: rgb(235, 230, 205);
    font-size: 20px;
    padding: 10px;
 }