
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    scroll-margin-top: 60px;
    
}

html{
    scroll-behavior: smooth;
}

body {
    
background-color: rgb(77, 77, 77);
text-align: center;
position: relative;
}

li {
    list-style-type: none;
}

span {
    display: block;
    border: dashed;
    border-color: rgb(77, 77, 77);
}

.navbar{
    background-color: rgb(59, 59, 59);
    width: 100%;
    position: fixed;
    top: 0;
}

.menu {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    
   
}
.menu li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}
.menu li:hover {
    background-color: rgb(51, 51, 51);
}
 a {
    font-size: 20px;
    text-decoration: none; 
    color: rgb(235, 230, 205);
 }
 
a:hover {
    text-decoration: underline; 
}

.aboutMe {
background-color: rgb(235, 230, 205);
margin-top: 60px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-items: center;
justify-content: space-around;
gap: 20px;
padding: 20px;
 }

.leftBlAbout{
display: flex;
flex-direction: column;
align-self: center;
}

.avatar{
    width: 90%;
    border-radius: 50%;
 }

 .aboutMe h1{
    font-size: 50px;
 }
 .aboutMe p{
    font-size: 20px;
    text-align: start;
    text-indent: 25px;
 }

 .rightBlAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
 }

.socialLinksAbout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    padding-bottom: 20px;
}

.firstIcon{
    justify-self: start;
}
.thirdIcon{
    justify-self: end;
}
.skills {
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.typeofskills{
    display: flex;
    max-width: 810px;
    flex-direction: column;
    padding: 20px;
}
.textSkills{
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.textSkills h2{
    color: rgb(235, 230, 205); 
    width: 300px;
    padding-right: 20px;
    
}
.textSkills p{
    color: rgb(235, 230, 205); 
    font-size: 20px;
    text-align: left;
    
}
.memeImg{
    max-height: 400px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.projects {
background-color: rgb(235, 230, 205);
 }

.project{
    display: flex;
    padding: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.about {
    max-width: 510px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.about h2{
    font-size: 25px;
    padding-bottom: 10px;  
}

.about p{
    font-size: 20px;
    text-align: left;
    padding: 5px;
}

.about a {
    font-size: 20px;
    
    padding: 10px;
    color: black;
}

.gameScreens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.gameScreens img{
    height: 200px;
}
.imgScreen:hover{
    box-shadow: 10px 20px 30px rgba(0,0,0,0.5);
    transform: scale(1.7);
    transition: 1s;
}

.gamevideo{
    display: none;
    width: 80%;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.5);
}

.startVideo{
 display: block;
 border: solid;
 border-color: rgb(145, 5, 28);
 left: 100px;
 position: absolute;
}

.shopScreens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: auto;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.shopScreens img{
    width: 300px;
}
 .contacts {
height: 200px;
background-color:  rgb(59, 59, 59);
display: grid;
grid-template-columns: 1fr 2fr 1fr;
justify-content: center;
padding: 40px;
 }

 .contacts h2{
    color: rgb(235, 230, 205);
    padding: 20px;
    text-decoration: underline;
 }

 .contacts li{
    color: rgb(235, 230, 205);
    font-size: 20px;
    padding: 10px;
 }